{% extends 'base.html.twig' %}

{% block title %}Enregistrez vous{% endblock %}

{% block body %}
    <h1>Inscription</h1>
<div class="wrapper-form">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.agreeTerms) }}
</div>
        <button class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
